.item {
  display: flex;
  margin-bottom: 20px;
}
.card {
  padding: 10px;
  width: 400px;
  height: 150px;
  border: 1px solid teal;
}
.type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cardNum {
  display: flex;
  margin-bottom: 10px;
}
.cardNum p {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.btnList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
